# disp driver
/dev/disp                   0777    system      system
/dev/cedar_dev              0666    system      system
/dev/ace_dev                0666    system      system
/dev/ump                    0777    system      graphics
/dev/mali                   0777    system      graphics
/dev/video0                 0777    system      system
/dev/snd/pcmC0D0c           0777    system      system
/dev/snd/pcmC0D0p           0777    system      system
/dev/ttyUSB0                0777    system      system
/dev/ttyUSB1                0777    system      system
/dev/ttyUSB2                0777    system      system
/dev/ttyUSB3                0777    system      system
/dev/ttyACM0                0777    system      system
/dev/ttyACM1                0777    system      system
/dev/ttyACM2                0777    system      system
/dev/gps                    0777    system      system
/dev/pa_dev                 0777    system      system
/dev/sunxi_mem              0666    media       media
/dev/g2d                    0666    system      system
/dev/sr0                    0777    system      system
/dev/block/nandf            0666    system      system
/dev/rtk_btusb              0660    bluetooth   bluetooth
/dev/ttyS2                  0660    bluetooth   bluetooth
/dev/ion                    0777    system      graphics

/dev/dmard10			0777	system	system
/dev/dmard06			0777	system	system
/dev/mxc622x			0777	system	system
/dev/mc32x0			0777	system	system
/dev/sc7a30			0777	system	system